[Unit]
Description=Worldserver used within AzerothCore

[Container]
Pod=ac.pod
Image=localhost/ac/worldserver
PodmanArgs=--tty
Volume=./azerothcore-wotlk:/azerothcore-wotlk:ro,Z
Volume=./data:/ac/data:ro,Z

Environment=AC_SOURCE_DIRECTORY=/azerothcore-wotlk
Environment=AC_DATA_DIR=/ac/data
#Environment=AC_MAP_UPDATE_INTERVAL=100
#Environment=AC_MAP_UPDATE_THREADS=4

[Install]
WantedBy=default.target
